<header class="topnav">
    
    <a class="active" href="/">Home</a>
    <a href="/download">Télécharger</a>
    <a href="/login">Login</a>
    <a href="/chapitre">Chapitre</a>
    <a href="/urlrandom">TEST404</a>
    <a href="/chat">Chat en ligne</a>
    <a href="/api">API</a>

</header>